.trashButton {
  background: transparent;
  border: 0;
  color: var(--grey-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  z-index: 5;
}

.trashButton:hover {
  color: var(--danger);
}
