@import "./breakpoints.scss";

.toDoWrapper {
  display: flex;
  flex-direction: column;
}

.toDoWrapper > header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--gray-700);
  height: 200px;
  padding: 0 1rem;
}

.toDoWrapper > header > form {
  transform: translate(0px, 26px);
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.toDoWrapper section {
  margin-top: 4rem;
  max-width: 736px;
  width: 100%;
  min-height: 287px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  align-self: center;
  gap: 25px;
}

@include break-below(sm) {
  html {
    font-size: 87.5%;
  }
}


.listContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.pageTitle {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: normal;
    color: var(--blue);
    align-items: center;
    &First {
        color: var(--blue);
    }

    &Second {
        color: var(--purple-dark);

    }

    svg  {
    margin-right: 0.875rem;
    }

}